# build/test
build
.coverage

# local environment files
.env*
!.env.example

# package files
yarn-error.log
package-lock.json

# general
.DS_Store
node_modules
pgdata


## iclinic-app mock data
__mocks__/store

# editor
.idea
.vscode
